nav {
    background-color: #404040;
}

.material-icons {
    color: goldenrod;
}

.brand-logo {
    display: flex !important;
    align-items: center;
    justify-content: space-around;
}

.brand-logo > img {
    height: inherit;
    width: 40px;
    margin: 0 15px;
}

.brand-logo > span {
    color: gold;
}

.search-box {
    margin: 10px auto;
    width: 70vw;
    border-radius: 15px;
    background-color: #FFFEEE;
    border: 2px solid goldenrod;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.search-box > input {
    color: black;
    font-size: 1.3em;
    border: none;
}

.search-box > input:focus {
    border: none;
}