{% extends 'base/base.html' %}
{% load static %}

{% block shoply-content %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <p id="reg-title">Register</p>
    <form id="reg-form" method="POST"> {% csrf_token %}
        {{ form.as_p }}
        <label>
            <input type="checkbox" name="agree">
            <span>Agree with our terms and conditions and privacy policy</span>
        </label>
        <input id="sign-up" type="submit" value="Sign Up" disabled>
    </form>
    <p id="account">Have an account? <a href="/login">Login</a></p>
{% endblock shoply-content %}